# .env.example  — este SÍ se sube a Git
VITE_SUPABASE_URL=https://bjjknohimetniskbfqiu.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJqamtub2hpbWV0bmlza2JmcWl1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMwNzYxNjksImV4cCI6MjA4ODY1MjE2OX0.5yo5L4Vk9fAMEzkVAIbfqw1ZTZ46JFe_2vl69HO-Mbs